.template-blogpages,
.template-blog {
  .article {
    img {
      max-width: 100%;
      height: auto;

      @media screen and (max-width: map-get($grid-breakpoints, 'sm')) {
        width: 100% !important;
      }
    }
  }
}
