.front-page {
  background-image: url('./images/dark-tiles.png');
  background-repeat: repeat;

  .cake-is-a-lie,
  .container-fluid {
    height: 100%;
  }

  .hero-section {
    color: #ffffff;

    &--full-screen-height {
      height: 100vh;
      min-height: 100%;
    }

    &--align-start {
      align-items: flex-start;
    }

    &__title {
      font-size: 2.75rem;
      font-weight: 700;
      color: #ffffff;
    }

    &__subtitle {
      color: #cccccc;
    }

    .button-stack .btn {
      font-weight: 600;
      margin-right: 0;
      margin-left: 0;
      text-transform: uppercase;
    }
  }

  .footer {
    position: fixed !important;
    bottom: 0;
    height: 2.5rem;
    margin-top: -2.5rem;
    color: #808080 !important;
    background-color: transparent !important;

    @media screen and (max-width: map-get($grid-breakpoints, 'sm')) {
      height: 4rem;
    }
  }
}
