.header {
  &--responsive-menu-is-inactive {
    .header {
      &__menu-item {
        display: none;
      }
    }
  }

  &--responsive-menu-is-active {
    position: absolute !important;

    .header {
      &__menu-list {
        float: left;
        width: 100%;
      }

      &__menu-item {
        display: inline-block;
        width: 100%;
        text-align: center;

        .header__menu-link {
          width: 100%;
        }
      }
    }
  }

  &__logo-container {
    margin-top: 5px;
  }

  &__toggler {
    float: right;
  }

  &__menu-list {
    float: right;
  }

  &__menu-item {
    float: left !important;
  }
}

.hero-section {
  position: relative;

  & > .col {
    float: none;
    margin: 0 auto;
  }

  &--mark {
    & > .col {
      position: relative;
    }

    .row {
      display: inline-block;
      width: 100%;

      & > .col-12 {
        float: left;
      }
    }
  }
}

.hero-section__grid-list {
  display: inline-block;
  width: 100%;

  & > .col-12 {
    float: left;
  }

  & > .row {
    display: inline-block;
    width: 100%;
  }
}

.button-stack {
  display: inline-block;

  & > .col-md-auto,
  & > .col-auto {
    float: left;
  }
}

.footer {
  & > .row {
    display: inline-block;
    width: 100%;

    .col {
      max-width: 100%;
    }
  }
}

.front-page {
  .browser-upgrade {
    position: absolute !important;
    width: 100%;
  }

  .hero-section {
    position: relative;
    overflow: hidden;
    width: auto;

    &--full-screen-height {
      & > .col {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .footer .col {
    max-width: 100%;
  }
}

.template-contact {
  .hero-section {
    & > .col > .row {
      display: inline-block;
      width: 100%;
    }
  }
}

.template-blogpages,
.template-blog,
.template-wikipages,
.template-wiki {
  .container-fluid > .row > .col {
    float: none;
    margin: 0 auto;

    & > .row {
      display: inline-block;
    }
  }
}

.template-wikipages,
.template-wiki {
  .browser-upgrade {
    position: absolute !important;
    top: 53px;
    left: 0;
    display: inline-block;
    width: 100%;
  }

  form[action^='/search/'] {
    margin-top: 75px;

    .col {
      float: left;
      width: 95%;
    }

    .col-auto {
      float: left;
      width: 5%;
    }

    .form-control {
      height: 38px;
    }
  }
}
