.article {
  margin-bottom: 3.5rem;

  &__header {
    margin-bottom: 1.5rem;
  }

  &__content {
    color: #666666;
  }

  &__title {
    color: #333333;

    & > a {
      color: #333333;

      @include hover-focus {
        text-decoration: none;
      }
    }
  }

  &__author {
    display: inline;
  }
}
