.button-stack {
  .col-md-auto,
  .col-auto {
    margin-bottom: 1rem;
  }

  .btn {
    min-width: 150px;

    @media screen and (min-width: map-get($grid-breakpoints, 'sm')) {
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }

    &-warning {
      color: #ffffff;
      border-color: #eea236;
      background-color: #f0ad4e;
    }

    &-success {
      color: #ffffff;
      border-color: #4cae4c;
      background-color: #5cb85c;
    }
  }
}
