.page-edit-mode {
  padding-top: 3rem;

  .yellow-bar {
    line-height: 3rem;
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    height: 3rem;
    margin: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: #ffffff;
  }

  .header__nav {
    top: 3rem;
  }
}

#yellow-pane-edit,
#yellow-pane-login,
#yellow-pane-version,
#yellow-pane-settings {
  right: 1rem !important;
  left: 1rem !important;
  width: auto !important;
}

#yellow-pane-user {
  right: 1rem;
}
