.header {
  height: 3rem;

  &__nav {
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    padding: 0;
    background-color: black;
  }

  &__logo-container {
    margin-left: 0.3125rem;
  }

  &__toggler {
    margin: 0.3125rem;
    border-color: rgba(255, 255, 255, 0.4) !important;
  }

  &__menu-list {
    margin-left: auto;
    text-align: center;
  }

  &__menu-item {
    padding: 6px 8px;

    &--highlight {
      text-transform: uppercase;
      color: #ffffff;

      @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
        background-color: transparent !important;
      }

      &-green {
        .header__menu-link {
          background-color: #5cb85c;
        }
      }

      &-blue {
        .header__menu-link {
          background-color: #3399ff;
        }
      }
    }
  }

  &__menu-link {
    font-size: 0.95em;
    color: #ffffff !important;

    @include hover-focus {
      color: #666666 !important;
    }

    &--active {
      color: #3399ff !important;
    }
  }
}
