.hero-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;

  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    .col-12 {
      margin-bottom: 3rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--full-screen-height {
    align-items: center;

    &:first-child {
      min-height: calc(100vh - 50px);
    }

    &:nth-child(n+2) {
      min-height: 100vh;
    }
  }

  &--mark {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #ffffff;
    background-color: #3399ff;

    .hero-section__title {
      font-size: 1rem;
      font-weight: 300;
      letter-spacing: 0.05rem;
      color: #ffffff;
    }

    .hero-section__subtitle {
      color: #ffffff;
    }
  }

  &--background-map {
    background-image: url('./images/map.jpg');
    background-position: center -3rem;
    background-size: cover;
  }

  &--background-dark-tiles {
    background-image: url('./images/dark-tiles.png');
    background-repeat: repeat;

    .hero-section__grid-list {
      .hero-section__icon {
        color: #3399ff;
      }

      .hero-section__subtitle {
        color: #ffffff;

        small {
          color: #666666;
        }
      }
    }
  }

  &--background-arrows {
    padding-bottom: 10rem;
    background-image: url('./images/arrows.png');
    background-repeat: repeat-x;
    background-position: bottom;
  }

  &--background-mechanism {
    padding-bottom: 8rem;
    background-image: url('./images/mechanism.jpg');
    background-repeat: repeat-x;
    background-position: bottom;
  }

  &__title {
    text-transform: uppercase;
    color: #3399ff;
  }

  &__subtitle {
    color: #666666;

    &--dotted {
      font-size: 90%;
      font-style: italic;
      margin-top: 1rem;
      padding: 0.5rem;
      border: 1px dashed #ffffff;
      border-radius: 0.3rem;
    }
  }

  &__grid-list {
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: 1px solid #3399ff;
    border-bottom: 1px solid #3399ff;

    .row:nth-child(n+2) {
      margin-top: 3rem;
    }

    .hero-section__title {
      text-transform: none;
    }

    .hero-section__subtitle {
      margin-bottom: 0;

      small {
        font-size: 85%;
        display: block;
        margin-bottom: 0.5rem;
      }
    }
  }

  &__icon {
    margin-bottom: 0.5rem;
  }

  &__title-factorial {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .list-inline {
    margin-top: 2rem;

    &-item:not(:last-child) {
      margin-right: 1.5rem;

      @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
        margin-bottom: 0.5rem;
      }
    }
  }

  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top: 1px solid #3399ff;
  }
}
