body {
  font-family: Verdana, Geneva, sans-serif;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: $display-line-height;
}

.display-6 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: $display-line-height;
}
